<!DOCTYPE html>
<html>
<head>
 <title>{{{title}}}</title>
</head>
<body>

<h1>Utilisateur {{{id}}}</h1>



<div class="container"></div>
<table style="border:2px black solid" width="55%">
  <tr style="border:2px black solid" width="30%">
    <th>Nom</th>
    <th>Prénom</th>
    <th>Mail</th>
    <th>Password</th>
    <th>Username</th>
    <th>Date de création</th>
    <th>Date de modification</th>

  </tr>
  <tr style="border:2px black solid" width="30%">
    <td align="center">{{{lastname}}}</td>
    <td align="center">{{{firstname}}}</td>
    <td align="center">{{{email}}}</td>
    <td align="center">{{{password}}}</td>
    <td align="center">{{{username}}}</td>
    <td align="center">{{{created_at}}}</td>
    <td align="center">{{{updated_at}}}</td>

  </tr>
</table>
</div>
