<!DOCTYPE html>
<html>
<head>
 <title>{{{title}}}</title>
</head>
<body>

<h1>Une tâche a bien été ajoutée</h1>

 <div class="container">
    <b><p class="center"> Cette tâche porte l'id :</b>
       <span style="color:black">{{{id}}}</span> 
    </p>
 </div>
 <p> Plus de détails sur la tâche -> </p>
 <div class="container">
    <b><p class="center"> Tâche à faire :</b>
        <span style="color:blue">{{{name}}}</span>
    </p>
 </div>
 <div class="container">
    <b><p class="center"> Avancée de la tâche :</b>
       <span style="color:red">{{{completion}}}</span> 
    </p>
 </div>
  <div class="container">
    <b><p class="center"> Date de création :</b>
       <span style="color:grey">{{{created_at}}}</span> 
    </p>
 </div>
  <div class="container">
    <b><p class="center"> Date de modification :</b>
       <span style="color:grey">{{{updated_at}}}</span> 
    </p>
 </div>
</body>
</html>